body {
    background: linear-gradient(#E2D3C5, #DFCDBD);
    text-align:center;
    font-family: 'Happy Monkey', cursive;
    color:#8C5B49;
    text-shadow: 0 0 4px #844732;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 40px;
    font-size: 2.5em;
}

#face {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height:200px;
    border: 8px solid #844732;
    /*margin: auto;*/
}

#face img {
    width: 100%;
    height: auto;
    margin-top: -20px;
}

#bdage, #bdate {
    background: #B37C5D;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 10px;
    color: #DFCDBD;
    
}

.happy {
    color: #8C5B49;
    margin-bottom: 0px;
}

.instr {
    color: #8C5B49;
    margin-top: 4px;
}

.gift-img {
    width: 400px;
    height: 400px;
    border: 8px solid white;
    border-radius: 8px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    margin: 15px auto;
}

#happy-img:hover {
    background-image: url("images/happy.gif");
}

#hot-img:hover {
    background-image: url("images/hot.gif");
}

#genius:hover {
    background-image: url("images/genius.gif");
}

#badass:hover {
    background-image: url("images/badass.gif");
}

#badass {
    height: 200px;
}

#cheers:hover {
    background-image: url("images/cheers.gif");
}

#cheers {
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    margin:20px;
    color:rgb(113, 190, 223);
    text-shadow: 0 0 2px black;
}